.first {
 display: inline-block;
 height: 100px;
 width: 100px;
 background-color: blue;
 border: solid;
 
 position: relative;
 left: 230px;

}
.second {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
   border: solid;
   position: relative;
   right:100px;

}
.third {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: rgb(15, 184, 23);
    border: solid;
    position: relative;
    right: 100px;

}